body {
    background: #071F65;
    background: linear-gradient(90deg, rgba(7, 31, 101, 1) 0%, rgba(62, 93, 189, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.btn-outline-secondary {
  border-left-style: none;
  border-top: solid 1px rgb(223, 227, 230);
  border-right: solid 1px rgb(223, 227, 230);
  border-bottom: solid 1px rgb(223, 227, 230);;
}

.btn-outline-secondary:hover {
  background-color: lightgray;
}

.btn-outline-secondary:active {
  background-color: lightgray;
}

.no-right-border {
  border-right-style: none;
}

.card {
    width: 100%;
    max-width: 550px; 
    border: none;
    border-radius: 20px;
}

.card-header {
    border-bottom-style: none;
}

.card h2 {
    font-size: 3.5rem;
    text-align: center;
}
